<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body
  class="bg-gradient-to-b from-gray-900 via-gray-950 to-gray-900 min-h-screen text-gray-200 caret-transparent p-5 flex items-center justify-center">
  
  <div>
    <div class=" absolute top-20 right-20">
      <a class="bg-red-600 hover:bg-red-500 font-semibold text-white text-xl rounded-md px-3  py-1"
        href="/logout">Logout</a>
    </div>
    <div class="w-full flex flex-col bg--200">
      <h4 class="text-2xl mb-3 self-start">Edit your post.</h4>
      <!-- Create form -->
      <form method="post" action="/update/<%= post._id %>">
        <textarea spellcheck="false" name="content" placeholder="What's on your mind?" cols="50" rows="3"
          class=" caret-gray-200 resize-none mb-3 block bg-transparent  border-2 border-gray-600 focus:ring-2 focus:ring-blue-500 focus:outline-none focus:border-transparent spell-none transition duration-200 p-3 rounded-md"><%= post.content %></textarea>
        <div class="flex gap-3">
          <input type="submit" value="Update Post"
            class=" px-4 py-2 bg-green-800 hover:bg-green-700 text-white font-semibold rounded-md cursor-pointer transition duration-200">
        </div>
      </form>
    </div>
  </div>
</body>

</html>